*{
  margin:0;
  padding:0;
}
body{
  background: #fff;
  font-family:sans-serif;
}
.top-nav-bar
{
  height: 57px;
  top:0;
  position: sticky;
  background:#fff;
  /* background-color: aqua; */
  margin-bottom: 20px;
  border-bottom:3px solid aqua;
  z-index: 2;
}
.logo{
  height:40px ; 
  margin: 5px 10px;
}
.form-control{
  margin-top:9px;
  margin-left: 30px;
  border:1px solid  aqua !important;
  border-top-left-radius:20px !important;
  border-bottom-left-radius:20px !important;
  border-top-right-radius:0 !important;
  border-bottom-right-radius:0 !important; 
box-shadow: none;
}
.input-group-text{
  background:aqua !important;
  border: 1px solid aqua !important;
  margin: 8.5px 10px 3px 0 !important;
  border-top-left-radius:0px !important;
  border-bottom-left-radius:0px !important;
  border-top-right-radius:20px !important;
  border-bottom-right-radius:20px !important; 
  cursor: pointer;
}
.input-group-text:hover{
  background: green;
}
.search-box{
  display: inline-flex;
  width:60%;
  
}
.fa-search{
  color:#fff;
}

.menu-bar{
  width: 40%;
  height: 57px;
  float: right;
}
.menu-bar ul{
  display: inline-flex;
  float: right;
}
.menu-bar ul li{
  border-left: 1px solid #fff;
  list-style-type: none;
  padding: 15px 35px;
  text-align: center;
  background-color: aqua;
  cursor:pointer;
  transition:1s;
}
.menu-bar ul li a{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.menu-bar ul li:hover{
  background: yellowgreen;
}
.fa-shopping-basket
{
margin-right:5px ;
}
@media only screen and (max-width
: 980px){
  .top-nav-bar{
    height: 118px;
    border-bottom:0;
  }
  .search-box{
    width: 100%;
  }
  .menu-bar{
    width: 100%;
  }
  .menu-bar ul{
    margin:10px 0;
    width: 100%;
  }
  .menu-bar ul li{
    height: 57px;
    width:100%;
  }
}
/*-------side menu-------*/
.side-menu
{
  height: 798px;
  width:15%;
  font-size:14px;
  float:left;
  z-index:2;
  background-color: #ddd;
}
.side-menu ul{
  margin-left: 10px;
 
}
.side-menu ul li{
  list-style-type:none;
  font-weight:bold;
  margin-top:10px;
  cursor: pointer;
 
}
.side-menu ul li:hover
{
  color: aqua;
}
.side-menu ul li ul{
  display: none;
  z-index: 10;
  top:77px;

}
.side-menu ul li:hover ul{
  display: block;
  height: 400px;
  margin-left: 14%;
  padding: 0 100px 10px 10px;
  position: fixed;
  background: #ececec;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}
.fa-angle-right
{
 margin-top:4px ;
 margin-right: 8px;
 float:right;
}
#menu-btn, #close-btn{
  font-size:30px;
  margin:10px;
  color:  aqua;
  display: none;
}
@media only screen and (max-width
: 980px)
{
.side-menu{
  width: 34%;
  z-index: 20;
  top:133px;
  position: fixed;
  font-size: 12px;
  display: none;
}
.side-menu ul li ul{
  top:133px;
}
.side-menu ul li:hover ul{
  margin-left: 31%;
}
#menu-btn{
  display: block;
}

}

/* slider css */
.slider{
  width:85;
  margin-left: 15%;
  padding: 0 10px;
}
.carousel-inner{
  height: 79%;
}
.carousel{
  box-shadow: 1px 1px 4px 1 px rgba(0,0,0,0.5);
}
.carousel-indicators{
  z-index: 1 !important;
}
@media only screen and (max-width:980px){
  .slider{
      width: 100%;
      margin-left:0;
  }
  .cart-info p{
    display: none;
  }

}

/* featured-categories css */

.featured-categories
{
    margin : 50px 0;
}
.featured-categories img{
    width: 100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}
.featured-categories img:hover{
  transform:scale(1.1);
  /* transform:translateX(-5%) */
}

/*  on sale product*/

.title-box{
  background: aqua;
  color: #fff;
  width: 180px;
  padding: 4px 10px;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
}

.title-box h2{
  font-size: 24px;
}
.title-box::after
{
 content: '';
 border-top: 40px solid aqua;
 border-right: 50px solid transparent; 
 display: flex;
 position: absolute;
 margin-top: -4px;
 margin-left: 170px;
 
}

/* product top css */
.product-top img{
  width: 100%;
  height:90%;
  transition: 0.5s;
}
.product-top img:hover{
  transform:translateX(5%);
}
.overlay-right{
  display:block;
  opacity: 0;
  position: absolute;
  top:10%;
  margin-left: 0;
  width: 70px;
}
.overlay-right .fa{
 cursor: pointer;
 background-color: #fff;
 color: #000;
 height: 35px;
 width:35px;
 font-size: 20px;
 padding: 7px;
 margin-top: 5%;
 margin-bottom: 5%;
}
.overlay-right .btn-secondary{
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
.product-top:hover .overlay-right{
 opacity: 1;
 margin-left: 5%;
 transition: 0.5s;

}
/* product bottom css */
.product-bottom .fa{
  color: aqua;
   font-size: 10px;
}
.product-bottom h3{
font-size: 20px;
font-weight: bold;
}
.product-bottom h5{
  font-size: 15px;
  padding-bottom:10px ;
  }
.new-products{
  margin :50px 0;
}

/* website features */
.website-features{
 margin: 60px 0;
 
}
.website-features img{
  width: 20px;
}

.feature-text{
  margin-top: 10px;
  float:right;
  width: 90%;
  padding-left: 20px;
}
.feature-box{
  padding: 20px;
}
.footer{
  margin-top: 50px;
  background: #000;
  color:#fff;
}
.footer h1{
  font-size: 15px;
  margin: 25px 0;
}
.footer p
{
  font-size: 12px;
}
.footer-image h1{
  margin-bottom: 0px;
}
.footer-image img{
  margin-top: 0px;
  padding-bottom: 0%;
   height: 75%;
   width :75%;
}
.copyright{
  margin-bottom: -80px;
  text-align: center;
  font-size: 15px;
  padding-bottom: 20px;
}
.fa-heart-o{
  color: red;
  font-size: 15px;
}
.footer hr{
  margin-top: 10px;
  background-color: #ccc;
}
.footer-image{
  width: 150px;
}
.footer .row .fa{
  padding-right: 20px;
  font-size: 15px;
}

/* sinlge product */


.single-product{
margin-top: 70px;
}
.new-arrival{
  background: green;
  width:50px;
  color:#fff;
  font-size: 12px;
  font-weight: 20px;
  margin-top: 20px;
}
.col-md-7 h2{
  color: #555;
}
.single-product .fa{
  color:aqua;

}
.single-product .price{
  color:aqua;
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
}
.single-product input
{
 border: 1px solid #ccc;
 font-weight: bold;
 height: 33px;
 text-align: center;
 width: 30px;
}
.single-product .btn-primary{
   background:aqua !important ;
   color:#fff;
   font-size:15px;
   margin-left: 20px;
   border: none;
   box-shadow: none !important;
}
.product-description h6{
  margin-top:50px;
  color:aqua;
}
.product-description p{
  margin-top: 30px;
}
.product-description hr{
  margin-bottom: 50px;
}

/* Cart items */

.cart-page{
  margin:80px auto;
}
table{
  width:100%;
  border-collapse:collapse;
}
.cart-info{
  display:flex;
  flex-wrap:wrap;
}
th{
  text-align:flex;
  padding:5px;
  color:#fff;
  background: aqua;
  font-weight: normal;
}
td{
  padding: 10px 5px;;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td .btn{
  color:#fff;
  font-size: 12px;
}
td img{
  width: 100px;
  height:100px;
  margin-right: 10px;
}
.total-price{
  display: flex;
  justify-content: flex-end;
}
.total-price table{
  border-top: 3px solid aqua;
  width: 100%;
  max-width: 400px ;
}
td:last-child{
  text-align:right;
}
th:last-child{
 text-align:right;
}



.account-page {
  padding: 50px 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  float: center;
  text-align: center;
}

.form-container {
  float: center; 
  background: aqua;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color:#555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn{
  display: inline-block;

}
@media only screen and (max-width: 980px) {
  .account-page {
    margin-left: auto;
    margin-right: auto;
  }
}
.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top:130px;
  transition:transform 1s;
}
form input{
  width:100%;
  height:30px;
  margin:10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
#LoginForm{
  left:-300px;
}
#RegForm{
  left:0;
}
form .btn{
  display:inline-block;
  background:#ff523b;
  color:#fff;
  padding: 8px 30px;
  margin:30px 0;
  border-radius: 30px;
  transition: background 0.5s;
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus{
  outline: none;
}
.btn:hover{
   background: #563434;
}
form a{
  font-size: 12px;
}
#Indicator{
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top:8px ;
  transform: translateX(100px);
  transition: transform 1s;
}
#Buy{
  
   float: right;
  background: aqua;
  border: none;
}